<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<div id="game-container">
		<h1>Index Page</h1>
		<a href="/new">Go to New Web Page</a>
		<div id="message-container">
			<p id="message"></p>
   		<button onclick="changeBackgroundColor()">Turn Background Blue</button>
	</div>

	<script src="/js/script.js"></script>
</body>

</html> 